.Graph {
  max-width: 350px;
  margin: 0 auto;
}

.Graph-node {
  border: 1px solid black;
  display: flex;

}

.Graph-node_value {
  border-right: 1px solid black;
  padding: 10%;
}

.Graph-node_edges {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Graph-node_edge {
  align-self: center;
  margin: 0 auto;
  /* border-right: 1px solid black; */
  width: 100%;
}